body{
    background: grey;
}
.heading{
    height: 70px;
    width: 400px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 55px;
    text-align: center;
    border-radius: 50%;
}
h1{
padding-top: 15px;
}
form{
    background:honeydew;
    height: 500px;
    width: 300px;
    text-align: center;
    margin-top: 30%;
    margin: auto;
}
/***********sucess.html**********/
h1{
    background: greenyellow;
    border: 30px;
    text-align: center;
    width: 900px;
}